.cabeçalho {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.foto {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}